<% @lines.each do |line| %> 
    <div>
        <a href="/departures/new/<%= line["id"] %>"><%= "#{line["number"]}. #{line["first_stop_name"]} => #{line["last_stop_name"]}" %></a>
    </div>
<% end %>
