<h1>Rozkład jazdy</h1>
Nasze autobusy i tramwaje zatrzymują się na przystankach <%= @count %> razy.
<ul>
  <li><%= link_to "Szukaj według linii", lines_path() %></li>
  <li><%= link_to "Szukaj według przystanku", stops_path()%></li>
  <li><a href="/schedule/advanced/">Wyszukiwanie zaawansowane</a></li>
  <li><a href="/departures/pickline/">Dodaj przejazdy do systemu</a></li>
