<div class="header">
    <div id="logo"><img src=""/> </div>
</div>
<div id="menu">
  <ul>
    <li>Strona główna</li>
    <li>Rozkłady</li>
    <li>Zgłoś awarię</li>
    <li>Nasi kierowcy</li>
    <li>Nasze pojazdy</li>
    <li>Kontakt</li>
  </ul>
</div>

