/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
    text-decoration: none;
    color: #e9ac55;
}
ul { 
    list-style: none;
    padding-left: 0;
}
html {
    width: 100%;
    height: 100%;
    background-color: #f5f5dc;
    font-family: 'Open Sans';
}
body {
    width: 90%;
    max-width: 1200px;
    background-color: #dcdcf5;
    margin: auto;
}


#menu ul {
    list-style: none;
    padding-left: 0;
    margin: auto;
    text-align: center;
    background-color:#e9f5dc;
}
#menu ul li {
    display: inline-block;
    padding: 10px;
}
.page-header {
    text-align: center;
}

.line-list {
    width: 90%;
    margin: auto;
    font-size: 0;
}
.line { 
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}
.line-routes {
    display: block;
    width: 75%;
    margin: auto;
    text-align: center;
}
.line h3 { 
    font-size: 32px;
}
