
<h2>Bardzo poważny rozkład autobusów</h2>
W naszym rozkładzie jest <%= @count %> linii.
<div class="line-list">
<% for l in @lines %>
  <div class="line">
  <h3><a href="/lines/<%= l["id"] %>"><%= l["number"] %></a></h3>
  <p><%= "#{l["first_stop_name"]} => #{l["last_stop_name"]}" %></p>
  <br/>
  </div>
  
<% end %>
</div>
